<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/inventoryrequests" routerLinkActive="active">Link to List InventoryRequest</a>
    </div>
    <div>
        <a routerLink="/products" routerLinkActive="active">Link to List Product</a>
    </div>
    <div>
        <a routerLink="/productcategorys" routerLinkActive="active">Link to List ProductCategory</a>
    </div>
 <!-- END LINKS -->
</div>